In [42]:
import pandas as pd
import numpy as np

In [43]:
data=pd.read_csv('labb1.csv')

In [44]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [50]:
concepts=np.array(data)[:,:-1]

In [51]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [52]:
target=np.array(data)[:,-1]

In [53]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [54]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [55]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']

In [58]:
data=pd.read_csv('lab2.csv')

In [59]:
data

  citations    size inlibrary       price editions  buy
0      some   small        no  affordable     many   no
1      many     big        no   expensive      one  yes
2      some     big    always   expensive      few   no
3      many  medium        no   expensive     many  yes
4      many   small        no  affordable     many  yes

In [60]:
concepts=np.array(data)[:,:-1]

In [61]:
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medium', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [62]:
target=np.array(data)[:,-1]

In [63]:
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [64]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [65]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']